@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
	
.guest_warn {
  background: rgba(0,0,0,0.85);
  width: 300px;
  padding: 28px 23px 28px 23px;
  position: fixed;
  top: 50%;
  right: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  color: #fff;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.guest_warn i.fa.fa-close {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
}